body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
.add{
  height: 30px;
  width: 80px;
  margin: 0 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.reset{
  height: 30px;
  width: 80px;
  background-color: red;
  cursor: pointer;
}
input{
  height: 30px;
  width: 250px;
  border-radius: 30px;
  padding: 5px;
  border: none;
  font-size: 16px;
}
.container {
  text-align: center;
  margin: 20px;
}

.todo-list {
  text-align: left;
}

.todo-card {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
